/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
*.env
.phpunit.result.cache

docker-compose.override.yml
/.idea
/.vagrant
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
npm-debug.log
docker-compose.yml
*.swp
xdebug.so
/.idea
