.my-work {
  background: $brand-main-warm;
  color: $brand-main-flat;
  padding-bottom: 3em;

  .main-title {
    margin-bottom: 0;
  }

  .computer-demo {
    min-height: 690px;
  }

  .screen-demo {
    background: #fff;
    width: 632px;
    height: 422px;
    margin: 4.5em auto;
  }

  .menu {
    .menu-slot {
      min-width: 33.33333%;
      margin: .5em 0;

      a {
        text-decoration: none;
      }
    }

    .menu-option {
      background: $brand-main-flat;
      color: $brand-main-cool;
      max-width: 18em;
      border-radius: 40px;
      line-height: 1.2;
      padding: .5em 0;

      &:hover {
        transition: background, .5s;
        background: $brand-main-cool;
        color: $brand-main-flat;
      }

      small {
        font-size: 65%;
      }
    }
  }
}

@media(max-width: 850px) {
  .my-work {
    .menu {
      .menu-slot {
        min-width: 50%;
      }
    }
  }
}

@media(max-width: 768px) {
  .my-work {
    .computer-demo {
      width: 100%;
      .screen-demo {
        width: 93%;
        margin: 13% auto;
      }
    }
  }
}

@media(max-width: 625px) {
  .my-work {
    .computer-demo {
      .screen-demo {
        margin: 12% auto;
      }
    }
  }
}
