.about-me {
  background: $brand-main-cool;
  color: $brand-main-flat;
  padding-bottom: 5em;

  hr {
    width: 50%;
  }

  .main-title {
    margin-bottom: .5em;
  }

  .strip {
    margin: 1em 0;
  }
}
