.about-me {
  background: $brand-main-cool;
  color: $brand-main-flat;
  padding-bottom: 3em;

  hr {
    width: 50%;
  }

  .main-title {
    margin-bottom: .5em;
  }

  .strip {
    margin: 1em 0;

    i {
      &.large {
        font-size: 105px;
      }
    }

    &:hover {
      color: $brand-main-warm;
      animation-name: strip-anim;
      animation-duration: .4s;
    }

  }
}

// ANIMATIONS
@keyframes strip-anim {
  from { color: $brand-main-flat; }
  to { color: $brand-main-warm; }
}
