.about-me {
  background: $brand-main-cool;
  color: $brand-main-flat;
  padding-bottom: 3em;

  hr {
    width: 50%;
  }

  .main-title {
    margin-bottom: .5em;
  }

  .strip {
    display: flex;
    align-items: center;
    margin: 1em 0;

    i {
      &.large {
        font-size: 105px;
      }
    }

    &:hover {
      color: $brand-main-warm;
      animation-name: strip-anim;
      animation-duration: .4s;
    }

    &:nth-of-type(odd) {
      flex-direction: row;
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    &.is-open {
      .strip-content {
        .strip-label {
          display: none;
        }

        .strip-icon {
          display: none;
        }

        .strip-image {
          display: inline-block;
        }

        .strip-paragraph {
          display: inline-block;
        }
      }
    }

    .strip-content {
      max-width: 50%;

      .strip-image {
        display: none;
      }

      .strip-paragraph {
        display: none;
        margin: 0 2em;
        background: $brand-main-flat;
        color: black;
        padding: 1.5em 2em 1em 2em;
        border-radius: 10px;
      }
    }

    .strip-image {
      img {
        max-height: 300px;
      }
    }
  }
}

// ANIMATIONS
@keyframes strip-anim {
  from { color: $brand-main-flat; }
  to { color: $brand-main-warm; }
}

@media(max-width: 1024px) {
  .about-me {
    hr {
      width: 75%;
    }

    .strip {
      .strip-content {
        max-width: unset;

        .strip-paragraph {
          margin: 0 1em;
          font-size: 18px;
        }
      }
    }
  }
}

@media(max-width: 915px) {
  .about-me {
    .strip {
      .strip-image {
        img {
          max-height: 250px;
        }
      }
    }
  }
}

@media(max-width: 840px) {
  .about-me {
    .strip {
      .strip-image {
        img {
          max-height: 200px;
        }
      }

      .strip-content {
        .strip-paragraph {
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .about-me {
    .strip {
      flex-direction: column !important;

      .strip-content {
        .strip-image {
          margin: 1em 0;

          img {
            max-height: 250px;
          }
        }
      }
    }
  }
}
