#main-profile {
  max-height: 300px;
}

.home {
  background: url("/img/test2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.my-work {
  .computer-demo {
    background: url("/img/computer-screen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
}
