/*
Flaticon icon font: Flaticon
Creation date: 19/11/2017 09:25
*/

@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-phone:before { content: "\f100"; }
.flaticon-email:before { content: "\f101"; }
.flaticon-github:before { content: "\f102"; }
.flaticon-linkedin:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-tv:before { content: "\f105"; }
.flaticon-books:before { content: "\f106"; }
.flaticon-gamepad:before { content: "\f107"; }
.flaticon-hiker:before { content: "\f108"; }

$font-Flaticon-technology-1: "\f100";
$font-Flaticon-note: "\f101";
$font-Flaticon-circle: "\f102";
$font-Flaticon-social-media: "\f103";
$font-Flaticon-home: "\f104";
$font-Flaticon-technology: "\f105";
$font-Flaticon-books: "\f106";
$font-Flaticon-gamepad: "\f107";
$font-Flaticon-hiker: "\f108";
